.popup__form-input_type_authorization-data {
  color: white;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  padding: 36px 5px 5px;
  background: transparent;
  outline: none;
  width: 358px;
}
